.toolbar {
  justify-content: space-between;
  min-height: 48px;

  .btnNav {
    min-width: 40px;
  }
}
@media (min-width: 600px) {
  div.toolbar {
    min-height: 48px;
  }
}
.frame {
  display: flex;
}
button.toggleButton {
  margin-right: 20px;
  font-size: 1.5rem;
  padding: 5px 10px;
}
